.App {
  text-align: center;
  
}

#form {
  background-color: white;
  radius: 2;
  
  padding: '20px'
}

#moviesForm {
  background-color: white;
  radius: 2;
  width: '50%' 
}

.header-wrapper,
.footer-wrapper {
background-color: #3A5C6B;
color: #C1BD8D;
padding-bottom: 50px;
}
.button {
  background: #3A5C6B;
  border-radius: 15px;
  width: 100px;
  cursor: pointer;
  outline: none;
  color: #C1BD8D !important ; 
  
}
.footer-wrapper {
}


.inner-header,
.footer-inner {
width: 66%;
margin: auto;
}

.heading {
  text-align: center;
}
.main-wrapper {
width: 66%;
padding: 1rem;
margin: auto;
margin-bottom: 2rem;
}

.section-header {
color: #d94646;
font-size: 4rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: #C1BD8D;
  
  }

.movie-bubble {
  border: black 2px solid;
  border-radius: 10px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.profilePage {
  background-color: #C1BD8D;
}
  